@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: rgb(200, 14, 200);">Ad Soyad: Eylül İpek Aydın</h1>
    <h2 style="color: rgb(9, 50, 183)"> Öğrenci No: 231002025</h2>
</div>